<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
        <link href="{{url_for('static', filename='/css/main.css')}}" rel="stylesheet">
   
        <style>
    .error {
        color: red;
    }
        </style>
   
    </head>


    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/index">home</a>
                </li>    
                <li class="nav-item">
                    <a class="nav-link" href="/blog">all posts<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/newpost">new post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/logout">logout</a>
                </li>
                </ul>
            </div>
        </nav>
    </header>

<body>

    {% block content %}
    
    {% endblock %}

</body>
</html>
