{% extends "base.html" %}

{% block content %}
    <h1>Add a Blog Entry</h1>
    <form method="POST", action="/newpost">
        <label for="title">Title for your new blog: </label>
            <input id="title" type="text" name='title' />
            <span class="error"> {{name_error}}</span>
       
        </br>
        </br>
         <label for="body">Your new blog:</label><br>
            <textarea id="body" name='body' class="container"></textarea>
            <span class="error"> {{body_error}}</span>
            <br>
            <input type="submit" value="Add Entry"/>

        
    </form>





{% endblock %}