{% extends "base.html" %}

{% block content %} 

<h1>new post</h1>
<span class="error" > {{ error }} </span>
<form action="/newpost" method="post">
        <label for="title">
            Title:
            <br>
            <input type="text" id="title" name="title" value="{{ title }}">
        </label>
        <br>
        <label for="body">
            Post:
            <br>
            <textarea name="body" id="body" cols="70" rows="10">{{ body }}</textarea>
        </label>
        <br>
        <input type="submit" value="Create Blog">
    </form>
{% endblock %}
